.red-color{
  background-color: red;
  color: white;
}
.black-color{
  background-color: black;
  color: gray;
}
.gray-color{
  background-color: #404040;
  color: white;
}
.titulo{
  color: white;
}
.header{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#subHeader{
  border-bottom-style: solid;
  border-bottom-color: #0000ff;
  -webkit-box-shadow: 10px 17px 20px 2px #404040;
  -moz-box-shadow: 10px 17px 20px 2px #404040;
  box-shadow: 0px 12px 20px 2px #404040;
}
#logo{
  width: 100%;
  height: 50px;
}
body{
  background-color: #666666;
}
.linkBtn{
  transition: background-color 0.5s;
  background-color: #404040;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}
.linkBtnSel{
  background-color: #0000ff;
}
.linkBtn:hover{
  background-color: #0000ff;
}
#divContenido{
  padding-top: 20px;
  color: white;
}
.titleMethod{
  padding-bottom: 15px;
}
#tabObs,#tabEval{
  padding-top: 20px;
}
/*
#divObsInic, #divResultados{
  border-style:groove;
  border-width: 1px;
  border-color: #0000ff;
  border-radius: 15px;
}
*/
.imgBorrar , .imgAyuda{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
td,th{
  text-align: center;
}
